/*  Basics */
@use "basics/base.scss";
@use "basics/helpers.scss";
@use "basics/layout.scss";
@use "basics/animations.scss";

/* Pages */
@use "./pages/home.scss";
@use "./pages/toys-index.scss";
@use "./pages/toys-details.scss";
@use "./pages/toy-edit.scss";
@use "./pages/about.scss";

/* Components */
@use "./cmps/toys-list.scss";
@use "./cmps/toy-preview.scss";
@use "./cmps/toys-filter.scss";
@use "./cmps/app-header.scss";
@use "./cmps/app-footer.scss";
@use "./cmps/user-msg.scss";
@use "./cmps/accordion.scss";
@use "./cmps/dynamic-modal.scss";

.bottom-div {
    height: 0px;
    width: 100vw;
}

.team-member-list {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.team-member-preview {
    height: 80px;
    display: flex;
    padding: 1.5em;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    background-color: #673ab721;
}

.loading-container {
    height: 100px;
    font-weight: bolder;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.loading-container img {
    height: 100%;
    z-index: 100;
}
